h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

div {
  text-align: center;
}

body {
  background-color: #c8472c !important;
}
.hidden {
  display: none;
}
.container {
  background-color: #f8de3c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container :hover {
  color: blue;
  cursor: pointer;
}
/*TODO:Add margin top and expand height of biography to cover most of page*/
.biography {
  background-color: white;
  height: 600px;
  padding-top: 10px;
  margin: 3% 10%;
  border-radius: 30px;
}

img {
  margin-top: 25px;

  width: auto;
}
/* xs */
img {
  width: 100px;
  height: auto;
}
/* sm */
@media (min-width: 768px) {
  img {
    width: 150px;
    height: 225px;
  }
}
/* md */
@media (min-width: 992px) {
  img {
    width: 200px;
    height: 275px;
  }
}
/* lg */
@media (min-width: 1200px) {
  img {
    width: 250px;
    height: 325px;
  }
}
